<div class="card card-img-wrapper" *ngIf="multiMedia && !multiMedia.imdb_id && !multiMedia.number_of_seasons">
  <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{multiMedia.poster_path}}" alt="poster">
  <div class="card-body animate">
    <div class="row">
      <p class="card-text col-lg-6"><i class="fas fa-heart"></i> {{multiMedia.vote_average}}</p>
      <p class="card-text col-lg-6" *ngIf="multiMedia.origin_country"> <i class="fas fa-globe-americas"></i> {{multiMedia.origin_country}}</p>
    </div>
    <h6 class="card-title">{{multiMedia.title}}{{multiMedia.name}}</h6>
    <p class="card-text">Release date:{{multiMedia.release_date}}{{multiMedia.first_air_date}}</p>
    <!-- <p class="card-text">Categories:</p> -->
    <p *ngIf="multiMedia.status" class="card-text">Status: {{multiMedia.status}}</p>
    <p *ngIf="multiMedia.tagline" class="card-text">Tagline: {{multiMedia.tagline}}</p>
    <p *ngIf="multiMedia.original_language" class="card-text">Original language: {{multiMedia.original_language}}</p>
    <a *ngIf="!multiMedia.imdb_id" (click)=" view (multiMedia)" class="btn btn-primary"> <i class="far fa-eye"></i> View</a>
  </div>
</div>


<div class="card card-img-wrapper-horizantal" *ngIf="multiMedia.imdb_id || multiMedia.number_of_seasons">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{multiMedia.poster_path}}" alt="poster">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="row">
          <p class="card-text col-lg-6"><i class="fas fa-heart"></i> {{multiMedia.vote_average}}</p>
          <p class="card-text col-lg-6" *ngIf="multiMedia.origin_country"> <i class="fas fa-globe-americas"></i> {{multiMedia.origin_country}}</p>
        </div>
        <h6 class="card-title">{{multiMedia.title}}{{multiMedia.name}}</h6>
        <p class="card-text">Release date:{{multiMedia.release_date}}{{multiMedia.first_air_date}}</p>
        <!-- <p class="card-text">Categories:</p> -->
        <p *ngIf="multiMedia.status" class="card-text">Status: {{multiMedia.status}}</p>
        <p *ngIf="multiMedia.tagline" class="card-text">Tagline: {{multiMedia.tagline}}</p>
        <p *ngIf="multiMedia.original_language" class="card-text">Original language: {{multiMedia.original_language}}</p>
        <p *ngIf="multiMedia.budget" class="card-text">Budget: {{multiMedia.budget}}</p>
        <p *ngIf="multiMedia.revenue" class="card-text">Revenue: {{multiMedia.revenue}}</p>
        <p *ngIf="multiMedia.number_of_episodes" class="card-text">Number of Episodes: {{multiMedia.number_of_episodes}}</p>
        <p *ngIf="multiMedia.number_of_seasons" class="card-text">Number of Seasons: {{multiMedia.number_of_seasons}}</p>
      </div>
    </div>
  </div>
</div>


