nav {
  background-color: #032541;
}
.nav-link {
  color: white;
}

li{
  padding-left: 15px;
}

.navbar .navbar-nav > li > a:hover {
  background-color: white;
  color: #032541;
  border-radius: 10px;
}


.navbar-nav li > a:hover,
.navbar-nav li > a:focus {
  background-color: white;
  color: #032541;
  border-radius: 10px;
}
.navbar-nav li.active > a {
  background-color: white;
  color: #032541;
  border-radius: 10px;
}
