.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
}

footer {
  background-color: #032541;
}

div,
.list-inline {
  color: white;
}

h6 {
  padding-top: 50px;
  cursor: pointer;
}

.mr-12 {
  margin-right: 12px;
}

h6:hover {
  text-decoration: underline;
}
