<div class="row">
  <div class="col-3">
    <div class="list-group sticky-top">
      <a class="list-group-item list-group-item-action" style="cursor: pointer;">one</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;">two</a>
    </div>
  </div>
  <div class="col" style="margin-left: 45px;">
    <div class="row">
      <ng-container>
        <div class="col" style=" margin-bottom: 23px;">
          <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">title</h5>
              <p class="card-text">price</p>

            </div>
            <div class="card-footer">
              <button class="btn btn-primary btn-block">Add to Cart</button>
            </div>
          </div>
        </div>
        <br>
        <br>
      </ng-container>

    </div>

  </div>
</div>
