.list-group-item {
cursor: pointer;
width: 50%;
margin-left: 45px;
}

.wrapper{
  margin-top: 20px;
  margin-left: 20px;
}

.fa-angle-double-right{
  margin-left: 19rem;
  vertical-align: middle;
}



